@font-face {
    font-family: 'vazir';
    src: url(../font/Vazir-Regular.ttf) format('truetype'), url('../font/Vazir-Regular.woff2') format('woff2'), url('../font/Vazir-Regular.woff') format('woff'), url('../font/Vazir-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vazir';
    src: url(../font/Vazir-Bold.ttf) format('truetype'), url('../font/Vazir-Bold.woff2') format('woff2'), url('../font/Vazir-Bold.woff') format('woff'), url('../font/Vazir-Bold.eot') format('eot');
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-family: vazir;
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 5px, #fff 0px 0px 5px, #fff 0px 0px 5px, #fff 0px 0px 5px, #fff 0px 0px 5px;
    -webkit-font-smoothing: antialiased;
}

body {
    background: url("../image/background04.png");
    color: #24292e;
    background-color: #ccc;
    display: grid;
    height: 96vh;
    grid-template-rows: 1.5fr 1fr auto;
}

.left-header {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    
}

header {
    grid-column: 4 / 5;
}

.right-header {
    grid-column: 5 / 8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

main {
    grid-column: 1 / 8;
    align-items: center;
    /* Vertical Alinment */
    /*display: flex;
    justify-content: center;
    flex-direction: column;*/
}

hr {
    text-align: center;
}

footer {
    padding: 0.5rem;
    text-align: center;
    grid-template-rows: minmax(150px, 10%);
    grid-column: 1 / 8;
    text-shadow: 1px 1px 0 #EFE9E0;
    font-style: italic;
}
